{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      {% if item.status != 'CL' %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.get_status_display }}</td>
          <td>{{ item.get_payment_way_display }}</td>
          <td>{{ item.cost }} руб.</td>
          <td>{{ item.firstname }} {{ item.lastname }}</td>
          <td>{{ item.phonenumber }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.comment }}</td>
          {% if item.reustaurant %}
            <td>
              <details>
                <summary>Готовит {{ item.reustaurant }}</summary>
                Название: {{ item.reustaurant.name }} <br/>
                Адрес: {{ item.reustaurant.address }} <br/>
                Контактный телефон: {{ item.reustaurant.contact_phone }} <br/>
              </details>
            </td>
          {% else %}
            <td>Может быть приготовлен ресторанами:
              <ul>
                {% for restaurant in item.restaurants %}
                  <li>
                    <details>
                      {% if restaurant.1 %}
                        <summary>{{ restaurant.0.name }} - {{ restaurant.1 }}</summary>
                      {% else %}
                        <summary>{{ restaurant.0.name }} - ошибка определения координат</summary>
                      {% endif %}
                      Название: {{ restaurant.0.name }} <br/>
                      Адрес: {{ restaurant.0.address }} <br/>
                      Контактный телефон: {{ restaurant.0.contact_phone }} <br/>
                    </details>
                  </li>
                {% endfor %}
              </ul>
            </td>
          {% endif %}
          <td><a href="{% url "admin:foodcartapp_order_change" object_id=item.id %}?next={{ request.get_full_path|urlencode }}">Редактировать</a></td>
        </tr>
      {% endif %}
    {% endfor %}
   </table>
  </div>
{% endblock %}
